<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.dao.HomeMapper">

    <select id="imglist" resultType="com.study.entity.Img">
        SELECT * from cms_img
        <where>
            <if test="img.class1!=0">
                AND class1=#{img.class1}
            </if>
            <if test="img.class2!=0">
                AND class2=#{img.class2}
            </if>
            AND access=1 AND del=0
        </where>
         ORDER BY recommend DESC , top DESC , updatetime DESC
    </select>

    <select id="newslist" resultType="com.study.entity.Article">
        SELECT * FROM cms_article WHERE del=0 AND display=1  ORDER BY recommend DESC , top DESC ,updatetime DESC, cms_article.addtime DESC LIMIT 0,3
    </select>

    <select id="meiti" resultType="com.study.entity.FriendlyLink">
        SELECT * FROM cms_friendlyLink WHERE mediaOrInstitutions=1
    </select>
    <select id="jigou" resultType="com.study.entity.FriendlyLink">
        SELECT * FROM cms_friendlyLink WHERE mediaOrInstitutions=2
    </select>

    <insert id="addassess">
        INSERT into assess(chuli,aname,phone,content)VALUES(#{assess.chuli},#{assess.aname},#{assess.phone},#{assess.content});
    </insert>
</mapper>