<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.dao.NewsMapper">

    <select id="newslist" resultType="com.study.entity.Article">
         SELECT id,title,imgurl,hits,updatetime,description FROM cms_article
         <where>
             <if test="article.class1!=0">
                 AND class1=#{article.class1}
             </if>
             <if test="article.class2!=0">
             AND class2=#{article.class2}
         </if>
             AND display=1   AND del=0
         </where>
        ORDER BY recommend DESC , top DESC , updatetime DESC LIMIT #{page.startNum},#{page.avgPageCount}
    </select>

    <select id="newscount" resultType="int">
        SELECT COUNT(id) FROM cms_article
        <where>
            <if test="article.class2!=0">
                AND class2=#{article.class2}
            </if>
            AND display=1 AND del=0
        </where>
    </select>

    <select id="newsdetail" resultType="com.study.entity.Article">
        SELECT * FROM cms_article WHERE id=#{id}
    </select>

    <update id="hitadd">
        UPDATE cms_article SET hits=hits+1 WHERE id=#{id};
    </update>


</mapper>